In [133]:
import pandas as pd

In [85]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time
import pandas as pd
import sqlalchemy
import json

driver = webdriver.Chrome()

driver.get('https://www.redbus.in/bus-tickets/vijayawada-to-hyderabad?fromCityId=134&toCityId=124&fromCityName=Vijayawada&toCityName=Hyderabad&busType=Any&onward=20-Jul-2024')
driver.maximize_window()
time.sleep(5)


bus_org = driver.find_elements(By.XPATH,"//div[@class = 'travels lh-24 f-bold d-color']")

In [136]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time
import pandas as pd
import sqlalchemy
import json

driver = webdriver.Chrome()

driver.get('https://www.redbus.in/')
driver.maximize_window()
time.sleep(5)

apsrtc = driver.find_elements(By.XPATH, "/html/body/section/div[2]/main/div[3]/div[3]/div[2]/div/div[1]/div[1]/div[1]/div[2]/div[1]/div[1]")
apsrtc[0].click()
time.sleep(10)

vijay_hyd = driver.find_elements(By.XPATH, '//*[@id="root"]/div/div[4]/div[2]/div[1]/a')
vijay_hyd[0].click()
time.sleep(10)

def scroll_and_load(driver, scroll_pause_time=2):
    # Get scroll height
    last_height = driver.execute_script("return document.body.scrollHeight")

    while True:
        # Scroll down to the bottom
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
        
        # Wait for new content to load
        time.sleep(scroll_pause_time)
        
        # Get new scroll height and compare with the last scroll height
        new_height = driver.execute_script("return document.body.scrollHeight")
        if new_height == last_height:
            break
        last_height = new_height

# Scroll and load content
scroll_and_load(driver)

bus_org = driver.find_elements(By.XPATH,"//div[@class = 'travels lh-24 f-bold d-color']")
derparture_time = driver.find_elements(By.XPATH,"//div[@class = 'dp-time f-19 d-color f-bold']")

data = {
    "bus_org": bus_org, "dept_time": derparture_time
    }

with open("bus_data.json", "w") as f:
    json.dump(data, f)

driver.back()

with open("bus_data.json", "r") as f:
    bus_data = json.load(f)
bus_org = bus_data["bus_org"]
dept_time = bus_data["dept_time"]
print("Bus Org:", bus_org)
print("Dept Time:", dept_time)

driver.quit()

TypeError: Object of type WebElement is not JSON serializable

In [144]:
dicter = {
    'bus':bus_org.text,
    'dept_time':derparture_time
}

dicter

AttributeError: 'list' object has no attribute 'text'

In [89]:
def scroll_and_load(driver, scroll_pause_time=2):
    # Get scroll height
    last_height = driver.execute_script("return document.body.scrollHeight")

    while True:
        # Scroll down to the bottom
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
        
        # Wait for new content to load
        time.sleep(scroll_pause_time)
        
        # Get new scroll height and compare with the last scroll height
        new_height = driver.execute_script("return document.body.scrollHeight")
        if new_height == last_height:
            break
        last_height = new_height

# Scroll and load content
scroll_and_load(driver)

In [100]:
bus_org = driver.find_elements(By.XPATH,"//div[@class = 'travels lh-24 f-bold d-color']")
derparture_time = driver.find_elements(By.XPATH,"//div[@class = 'dp-time f-19 d-color f-bold']")

AttributeError: 'list' object has no attribute 'text'

In [101]:
orglist = []
for i in bus_org:
    orglist.append(i.text)

depart_time = []
for i in derparture_time:
    depart_time.append(i.text)

In [104]:
orglist

['IntrCity SmartBus',
 'IntrCity SmartBus',
 'FRESHBUS',
 'AdSai RK Travels',
 'FRESHBUS',
 'IntrCity SmartBus',
 'FRESHBUS',
 'IntrCity SmartBus',
 'GMRK Tours and Travels',
 'Zingbus Plus',
 'Sri Durga Malleswari Travels',
 'NueGo',
 'NueGo',
 'IntrCity SmartBus',
 'FRESHBUS',
 'NueGo',
 'Svkdt travels',
 'IntrCity SmartBus',
 'NueGo',
 'Yolo Bus',
 'IntrCity SmartBus',
 'BSR Tours And Travels',
 'Sri Sai Srinivasa Travels',
 'NueGo',
 'Svkdt travels',
 'Sri KVR Travels',
 'NueGo',
 'IntrCity SmartBus',
 'Sri KVR Travels',
 'Svkdt travels',
 'Tirumala Xpress',
 'NueGo',
 'Sri Durga Malleswari Travels',
 'V Kaveri Travels',
 'Sri KVR Travels',
 'Orange Tours And Travels',
 'NueGo',
 'NueGo',
 'Orange Tours And Travels',
 'Morning Star Travels',
 'Orange Tours And Travels',
 'Orange Tours And Travels',
 'YNR Travels',
 'YNR Travels',
 'Sri Durga Malleswari Travels',
 'LVP Travels',
 'Sri Venkata Padmavathi Travels',
 'Anjani Bus',
 'NueGo',
 'Sai Srinivasa Travels',
 'Go Tour Travels and Holidays',
 'NueGo',
 'Nani Svkdt Travels',
 'Orange Tours And Travels',
 'KKaveri Travels',
 'Kaveri Travels',
 'Chandu Travels',
 'V Kaveri Travels',
 'Sai Srinivasa Travels',
 'V Kaveri Travels',
 'Morning Star Travels',
 'Zingbus Plus',
 'Mayuri Travels',
 'Nani’s Sai Krishna Travels',
 'Orange Tours And Travels',
 'Orange Tours And Travels',
 'Nani Svkdt Travels',
 'Sai Srinivasa Travels',
 'Orange Tours And Travels',
 'Sri Venkata Padmavathi Travels',
 'GO BUS',
 'Vahini Travels',
 'Mayuri Travels',
 'Sri KVR Travels',
 'Sri KVR Travels',
 'Royal Varma Travels',
 'Morning Star Travels',
 'Sri KVR Travels',
 'Morning Star Travels',
 'Orange Tours And Travels',
 'Sai Sri Durga Travels',
 'Komali Travels',
 'Orange Tours And Travels',
 'Morning Star Travels',
 'Sai RK Travels',
 'BSR Tours And Travels',
 'Laharisa Tours and Travels',
 'Sai RK Travels',
 'J Gagana Travels',
 'Morning Star Travels',
 'Navayuga Travels',
 'Sai Dasari Travels',
 'LVP Travels',
 'LVR Travels',
 'Ramana Tours And Travels',
 'Mahi Trans Solutions',
 'Sri Atluri Travels',
 'KKaveri Travels',
 'Apple Travels',
 'Orange Tours And Travels',
 'Sri Atluri Travels',
 'Sri KVR Travels',
 'Rainbow Tours And Travels',
 'Orange Tours and Travels Grand',
 'IntrCity SmartBus',
 'Chandu Travels',
 'Padma Travels',
 'Krk Travels',
 'SREE KARA TRAVELS',
 'Sai Srinivasa Travels',
 'Sri NVR Travels',
 'LVP Travels',
 'Venkteshwara Travels',
 'Sudha Sri Tours and Travels',
 'Sri Atluri Travels',
 'V Kaveri Travels',
 'Sri KVR Travels',
 'Sri KVR Travels',
 'Sri KVR Travels',
 'Siri Tours and Travels',
 'Siri Tours and Travels',
 'KTR Travels',
 'DMR Travels',
 'DMR Travels',
 'DMR Travels',
 'DMR Travels',
 'AMIGOS TRAVELS',
 'Morning Star Travels',
 'Vahini Travels',
 'Morning Star Travels',
 'SVM Tours And Travels',
 'Sai Godavari Travels',
 'AVR Travels',
 'Mahi Trans Solutions',
 'Morning Star Travels',
 'Meghana Travels',
 'Prasanna Travels',
 'Morning Star Travels',
 'Yolo Bus',
 'Sai Sri Krishna Travels',
 'Mayuri Travels',
 'Ramana Tours And Travels',
 'AVR Travels',
 'Sri Sai Anjana Tours and Travels',
 'VGO BUS',
 'Sai Dasari Travels',
 'Sri Sai Anjana Tours and Travels',
 'SREE KARA TRAVELS',
 'SAMANVI CITICONNECT',
 'Royal Varma Travels',
 'LVP Travels',
 'Sri NVR Travels',
 'Varun Travels',
 'Sitara Travels',
 'Sravani Travels',
 'Komali Travels',
 'Mahi Trans Solutions',
 'Mahi Trans Solutions',
 'Sree Durga Kaveri Travels',
 'Dharani Tours and Travels',
 'Meghana Travels',
 'ARK Travels',
 'Meghana Travels',
 'Morning Star Travels',
 'Rainbow Tours And Travels',
 'Surya Dream Liner',
 'Sai Dasari Travels',
 'Sree Raghavendra Travels']

In [106]:
bus_details = []
bus_details.append({
    'orgname':orglist,
    'depart_time':depart_time
})

In [109]:
bus_details[0]

dict_keys(['orgname', 'depart_time'])

In [110]:
import pandas as pd

In [111]:
df = pd.DataFrame(bus_details[0])
df

                       orgname depart_time
0            IntrCity SmartBus       23:45
1            IntrCity SmartBus       23:25
2                     FRESHBUS       22:30
3             AdSai RK Travels       22:10
4                     FRESHBUS       16:20
..                         ...         ...
163       Morning Star Travels       23:59
164  Rainbow Tours And Travels       23:58
165          Surya Dream Liner       23:40
166         Sai Dasari Travels       23:35
167   Sree Raghavendra Travels       21:10

[168 rows x 2 columns]

In [121]:
import mysql.connector

In [122]:
def connect_mysql():
    try:
        conn = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Saro@123",
            database="redbus"
        )
        print("Connected to MySQL database")
        return conn
    except Exception as e:
        print(f"Error connecting to MySQL database: {e}")
        return None
    
connect_mysql()

Connected to MySQL database

In [125]:
host="localhost",
user="root",
password="Saro@123",
database="redbus"
table_name = 'bus_details'

In [129]:
import pandas as pd
from sqlalchemy import create_engine

connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'
engine = create_engine(connection_string)

df.to_sql('bus_details', con=engine, if_exists='append', index=False)

SyntaxError: EOL while scanning string literal (537414391.py, line 4)

In [130]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

# MySQL connection details
host = 'localhost'
database = 'redbus'
user = 'root'
password = 'Saro@123'

# Function to create the table
def create_table():
    try:
        connection = mysql.connector.connect(host=host, database=database, user=user, password=password)
        if connection.is_connected():
            cursor = connection.cursor()
            create_table_query = '''
            CREATE TABLE IF NOT EXISTS bus_details (
                id INT AUTO_INCREMENT PRIMARY KEY,
                orgname VARCHAR(255) NOT NULL,
                depart_time VARCHAR(255) NOT NULL
            );
            '''
            cursor.execute(create_table_query)
            connection.commit()
            print("Table created successfully")
    except Error as e:
        print(f"Error: {e}")
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()

# Function to insert data from DataFrame into the table
def insert_data(df):
    try:
        connection = mysql.connector.connect(host=host, database=database, user=user, password=password)
        if connection.is_connected():
            cursor = connection.cursor()
            for index, row in df.iterrows():
                insert_query = '''
                INSERT INTO bus_details (orgname, depart_time)
                VALUES (%s, %s)
                '''
                cursor.execute(insert_query, (row['orgname'], row['depart_time']))
            connection.commit()
            print("Data inserted successfully")
    except Error as e:
        print(f"Error: {e}")
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()

In [131]:

# Create table
create_table()

Table created successfully

In [132]:
insert_data(df)

Data inserted successfully