In [1]:
pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Collecting selenium
  Downloading selenium-4.23.0-py3-none-any.whl (9.4 MB)
     |████████████████████████████████| 9.4 MB 1.7 MB/s eta 0:00:01
Collecting typing_extensions~=4.9.0
  Downloading typing_extensions-4.9.0-py3-none-any.whl (32 kB)
Requirement already satisfied: certifi>=2021.10.8 in /Users/saro/Library/Python/3.9/lib/python/site-packages (from selenium) (2024.6.2)
Collecting websocket-client==1.8.0
  Downloading websocket_client-1.8.0-py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 13.5 MB/s eta 0:00:01
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in /Users/saro/Library/Python/3.9/lib/python/site-packages (from selenium) (2.2.1)
Collecting trio~=0.17
  Downloading trio-0.26.0-py3-none-any.whl (475 kB)
     |████████████████████████████████| 475 kB 22.5 MB/s eta 0:00:01
Collecting sortedcontainers
  Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: attrs>=23.2.0 in /Users/saro/Library/Python/3.9/lib/python/site-packages (from trio~=0.17->selenium) (23.2.0)
Collecting outcome
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Collecting sniffio>=1.3.0
  Downloading sniffio-1.3.1-py3-none-any.whl (10 kB)
Requirement already satisfied: exceptiongroup in /Users/saro/Library/Python/3.9/lib/python/site-packages (from trio~=0.17->selenium) (1.2.1)
Requirement already satisfied: idna in /Users/saro/Library/Python/3.9/lib/python/site-packages (from trio~=0.17->selenium) (3.7)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Collecting pysocks!=1.5.7,<2.0,>=1.5.6
  Downloading PySocks-1.7.1-py3-none-any.whl (16 kB)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 21.5 MB/s eta 0:00:01
Installing collected packages: sortedcontainers, sniffio, outcome, h11, wsproto, trio, pysocks, websocket-client, typing-extensions, trio-websocket, selenium
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 4.12.1
    Uninstalling typing-extensions-4.12.1:
      Successfully uninstalled typing-extensions-4.12.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
typeguard 4.3.0 requires typing-extensions>=4.10.0, but you have typing-extensions 4.9.0 which is incompatible.
Successfully installed h11-0.14.0 outcome-1.3.0.post0 pysocks-1.7.1 selenium-4.23.0 sniffio-1.3.1 sortedcontainers-2.4.0 trio-0.26.0 trio-websocket-0.11.1 typing-extensions-4.9.0 websocket-client-1.8.0 wsproto-1.2.0
WARNING: You are using pip version 21.2.4; however, version 24.1.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.31-cp39-cp39-macosx_11_0_arm64.whl (2.1 MB)
     |████████████████████████████████| 2.1 MB 1.8 MB/s eta 0:00:01
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/saro/Library/Python/3.9/lib/python/site-packages (from sqlalchemy) (4.9.0)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-2.0.31
WARNING: You are using pip version 21.2.4; however, version 24.1.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install urllib3==1.26.6

Defaulting to user installation because normal site-packages is not writeable
Collecting urllib3==1.26.6
  Downloading urllib3-1.26.6-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 1.7 MB/s eta 0:00:01
Installing collected packages: urllib3
  Attempting uninstall: urllib3
    Found existing installation: urllib3 2.2.1
    Uninstalling urllib3-2.2.1:
      Successfully uninstalled urllib3-2.2.1
Successfully installed urllib3-1.26.6
WARNING: You are using pip version 21.2.4; however, version 24.1.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install urllib3==1.26.6

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: urllib3==1.26.6 in /Users/saro/Library/Python/3.9/lib/python/site-packages (1.26.6)
WARNING: You are using pip version 21.2.4; however, version 24.1.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [85]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time
import pandas as pd
import sqlalchemy

driver = webdriver.Chrome()

driver.get('https://www.redbus.in/bus-tickets/vijayawada-to-hyderabad?fromCityId=134&toCityId=124&fromCityName=Vijayawada&toCityName=Hyderabad&busType=Any&onward=20-Jul-2024')
driver.maximize_window()
time.sleep(5)


bus_org = driver.find_elements(By.XPATH,"//div[@class = 'travels lh-24 f-bold d-color']")

In [88]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time
import pandas as pd
import sqlalchemy

driver = webdriver.Chrome()

driver.get('https://www.redbus.in/bus-tickets/vijayawada-to-hyderabad?fromCityId=134&toCityId=124&fromCityName=Vijayawada&toCityName=Hyderabad&busType=Any&onward=20-Jul-2024')
driver.maximize_window()
time.sleep(5)

In [89]:
def scroll_and_load(driver, scroll_pause_time=2):
    # Get scroll height
    last_height = driver.execute_script("return document.body.scrollHeight")

    while True:
        # Scroll down to the bottom
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
        
        # Wait for new content to load
        time.sleep(scroll_pause_time)
        
        # Get new scroll height and compare with the last scroll height
        new_height = driver.execute_script("return document.body.scrollHeight")
        if new_height == last_height:
            break
        last_height = new_height

# Scroll and load content
scroll_and_load(driver)

In [100]:
bus_org = driver.find_elements(By.XPATH,"//div[@class = 'travels lh-24 f-bold d-color']")
derparture_time = driver.find_elements(By.XPATH,"//div[@class = 'dp-time f-19 d-color f-bold']")

AttributeError: 'list' object has no attribute 'text'

In [101]:
orglist = []
for i in bus_org:
    orglist.append(i.text)

depart_time = []
for i in derparture_time:
    depart_time.append(i.text)

In [104]:
orglist

['IntrCity SmartBus',
 'IntrCity SmartBus',
 'FRESHBUS',
 'AdSai RK Travels',
 'FRESHBUS',
 'IntrCity SmartBus',
 'FRESHBUS',
 'IntrCity SmartBus',
 'GMRK Tours and Travels',
 'Zingbus Plus',
 'Sri Durga Malleswari Travels',
 'NueGo',
 'NueGo',
 'IntrCity SmartBus',
 'FRESHBUS',
 'NueGo',
 'Svkdt travels',
 'IntrCity SmartBus',
 'NueGo',
 'Yolo Bus',
 'IntrCity SmartBus',
 'BSR Tours And Travels',
 'Sri Sai Srinivasa Travels',
 'NueGo',
 'Svkdt travels',
 'Sri KVR Travels',
 'NueGo',
 'IntrCity SmartBus',
 'Sri KVR Travels',
 'Svkdt travels',
 'Tirumala Xpress',
 'NueGo',
 'Sri Durga Malleswari Travels',
 'V Kaveri Travels',
 'Sri KVR Travels',
 'Orange Tours And Travels',
 'NueGo',
 'NueGo',
 'Orange Tours And Travels',
 'Morning Star Travels',
 'Orange Tours And Travels',
 'Orange Tours And Travels',
 'YNR Travels',
 'YNR Travels',
 'Sri Durga Malleswari Travels',
 'LVP Travels',
 'Sri Venkata Padmavathi Travels',
 'Anjani Bus',
 'NueGo',
 'Sai Srinivasa Travels',
 'Go Tour Travels and Holidays',
 'NueGo',
 'Nani Svkdt Travels',
 'Orange Tours And Travels',
 'KKaveri Travels',
 'Kaveri Travels',
 'Chandu Travels',
 'V Kaveri Travels',
 'Sai Srinivasa Travels',
 'V Kaveri Travels',
 'Morning Star Travels',
 'Zingbus Plus',
 'Mayuri Travels',
 'Nani’s Sai Krishna Travels',
 'Orange Tours And Travels',
 'Orange Tours And Travels',
 'Nani Svkdt Travels',
 'Sai Srinivasa Travels',
 'Orange Tours And Travels',
 'Sri Venkata Padmavathi Travels',
 'GO BUS',
 'Vahini Travels',
 'Mayuri Travels',
 'Sri KVR Travels',
 'Sri KVR Travels',
 'Royal Varma Travels',
 'Morning Star Travels',
 'Sri KVR Travels',
 'Morning Star Travels',
 'Orange Tours And Travels',
 'Sai Sri Durga Travels',
 'Komali Travels',
 'Orange Tours And Travels',
 'Morning Star Travels',
 'Sai RK Travels',
 'BSR Tours And Travels',
 'Laharisa Tours and Travels',
 'Sai RK Travels',
 'J Gagana Travels',
 'Morning Star Travels',
 'Navayuga Travels',
 'Sai Dasari Travels',
 'LVP Travels',
 'LVR Travels',
 'Ramana Tours And Travels',
 'Mahi Trans Solutions',
 'Sri Atluri Travels',
 'KKaveri Travels',
 'Apple Travels',
 'Orange Tours And Travels',
 'Sri Atluri Travels',
 'Sri KVR Travels',
 'Rainbow Tours And Travels',
 'Orange Tours and Travels Grand',
 'IntrCity SmartBus',
 'Chandu Travels',
 'Padma Travels',
 'Krk Travels',
 'SREE KARA TRAVELS',
 'Sai Srinivasa Travels',
 'Sri NVR Travels',
 'LVP Travels',
 'Venkteshwara Travels',
 'Sudha Sri Tours and Travels',
 'Sri Atluri Travels',
 'V Kaveri Travels',
 'Sri KVR Travels',
 'Sri KVR Travels',
 'Sri KVR Travels',
 'Siri Tours and Travels',
 'Siri Tours and Travels',
 'KTR Travels',
 'DMR Travels',
 'DMR Travels',
 'DMR Travels',
 'DMR Travels',
 'AMIGOS TRAVELS',
 'Morning Star Travels',
 'Vahini Travels',
 'Morning Star Travels',
 'SVM Tours And Travels',
 'Sai Godavari Travels',
 'AVR Travels',
 'Mahi Trans Solutions',
 'Morning Star Travels',
 'Meghana Travels',
 'Prasanna Travels',
 'Morning Star Travels',
 'Yolo Bus',
 'Sai Sri Krishna Travels',
 'Mayuri Travels',
 'Ramana Tours And Travels',
 'AVR Travels',
 'Sri Sai Anjana Tours and Travels',
 'VGO BUS',
 'Sai Dasari Travels',
 'Sri Sai Anjana Tours and Travels',
 'SREE KARA TRAVELS',
 'SAMANVI CITICONNECT',
 'Royal Varma Travels',
 'LVP Travels',
 'Sri NVR Travels',
 'Varun Travels',
 'Sitara Travels',
 'Sravani Travels',
 'Komali Travels',
 'Mahi Trans Solutions',
 'Mahi Trans Solutions',
 'Sree Durga Kaveri Travels',
 'Dharani Tours and Travels',
 'Meghana Travels',
 'ARK Travels',
 'Meghana Travels',
 'Morning Star Travels',
 'Rainbow Tours And Travels',
 'Surya Dream Liner',
 'Sai Dasari Travels',
 'Sree Raghavendra Travels']

In [106]:
bus_details = []
bus_details.append({
    'orgname':orglist,
    'depart_time':depart_time
})

In [109]:
bus_details[0]

dict_keys(['orgname', 'depart_time'])

In [110]:
import pandas as pd

In [111]:
df = pd.DataFrame(bus_details[0])
df

                       orgname depart_time
0            IntrCity SmartBus       23:45
1            IntrCity SmartBus       23:25
2                     FRESHBUS       22:30
3             AdSai RK Travels       22:10
4                     FRESHBUS       16:20
..                         ...         ...
163       Morning Star Travels       23:59
164  Rainbow Tours And Travels       23:58
165          Surya Dream Liner       23:40
166         Sai Dasari Travels       23:35
167   Sree Raghavendra Travels       21:10

[168 rows x 2 columns]

In [121]:
import mysql.connector

In [122]:
def connect_mysql():
    try:
        conn = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Saro@123",
            database="redbus"
        )
        print("Connected to MySQL database")
        return conn
    except Exception as e:
        print(f"Error connecting to MySQL database: {e}")
        return None
    
connect_mysql()

Connected to MySQL database

In [125]:
host="localhost",
user="root",
password="Saro@123",
database="redbus"
table_name = 'bus_details'

In [129]:
import pandas as pd
from sqlalchemy import create_engine

connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'
engine = create_engine(connection_string)

df.to_sql('bus_details', con=engine, if_exists='append', index=False)

SyntaxError: EOL while scanning string literal (537414391.py, line 4)

In [130]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

# MySQL connection details
host = 'localhost'
database = 'redbus'
user = 'root'
password = 'Saro@123'

# Function to create the table
def create_table():
    try:
        connection = mysql.connector.connect(host=host, database=database, user=user, password=password)
        if connection.is_connected():
            cursor = connection.cursor()
            create_table_query = '''
            CREATE TABLE IF NOT EXISTS bus_details (
                id INT AUTO_INCREMENT PRIMARY KEY,
                orgname VARCHAR(255) NOT NULL,
                depart_time VARCHAR(255) NOT NULL
            );
            '''
            cursor.execute(create_table_query)
            connection.commit()
            print("Table created successfully")
    except Error as e:
        print(f"Error: {e}")
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()

# Function to insert data from DataFrame into the table
def insert_data(df):
    try:
        connection = mysql.connector.connect(host=host, database=database, user=user, password=password)
        if connection.is_connected():
            cursor = connection.cursor()
            for index, row in df.iterrows():
                insert_query = '''
                INSERT INTO bus_details (orgname, depart_time)
                VALUES (%s, %s)
                '''
                cursor.execute(insert_query, (row['orgname'], row['depart_time']))
            connection.commit()
            print("Data inserted successfully")
    except Error as e:
        print(f"Error: {e}")
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()

In [131]:

# Create table
create_table()

Table created successfully

In [132]:
insert_data(df)

Data inserted successfully